<div class="jumbotron" ng-hide="crawling">

    <img src="images/karl.png" class="logo" alt="I'm Karl">
    <br>

    <h1>
        Well hello there.
    </h1>

    <p class="lead">
        Botmap.io provides bots that do things other bots don't...
        <br>
        <small>
            Like crawl angular sites and javascript content.
        </small>
        <Br>
        <br>
        <a class="btn btn-primary btn-lg" href="/scraper">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            <br> Scrape a Website
        </a>
        <a class="btn btn-info btn-lg" href="/sitemap-generator/">
            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            <br> Generate a Sitemap
        </a>
    </p>

</div>

<div class="row marketing">
    <h3>Use the Scraper right meow or set it up to Run on a Schedule</h3>
    <p>
        The website scraper can be used once a day for free. Unlimited usage and automation/scheduling for only $5/mo.
    </p>
</div>

<div class="row marketing">
    <h3>Sitemap Generator - Always Free</h3>
    <p>
        Built to work great with angularjs, angular, react, vue, and other javascript frameworks.
    </p>
</div>


<div class="row marketing" ng-hide="profile.user_metadata.subscription">
    <h3>Get Unlimited Access</h3>
    <p>
        Signup or login then upgrade for $5/mo. if you would like unlimited access.
    </p>
</div>