<div class="jumbotron" ng-hide="crawling">

    <!--
            <img src="images/karl.png" class="logo" alt="I'm Karl">
    
    -->
    <br>

    <h1>
        I'm Back!
    </h1>

    <p class="lead">
        I extremely apoligize for the downtime.
        <br>
        <small>
            I moved from AWS to Google Cloud cuz I'm broke. My crypto AI learned to trade bad not good :/ I got fired too. But I'm back.
        </small>
        <!--
        <Br>
        <br>
        <a class="btn btn-primary btn-lg" href="/scraper">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            <br> Scrape a Website
        </a>
        <a class="btn btn-info btn-lg" href="/sitemap-generator/">
            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            <br> Generate a Sitemap
        </a>
        -->
    </p>

</div>

<div class="container">


    <!--
    <div class="row marketing">
        <a class="btn btn-danger btn-lg btn-block" href="/trader">
            <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>
            <h1>Crypto Trading</h1>
            <p>
                This if for people that want to do advanced trading, eg. Algorithms at the click of a button. Customizable machine learning
                and AI, and arbitration.
            </p>
        </a>
    </div>
    -->

    <div class="row marketing">
        <a class="btn btn-info btn-lg btn-block" href="/sitemap-generator">
            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            <h1>Sitemap Generator</h1>
            <p>
                Built to work great with angularjs, angular, react, vue, and other javascript frameworks. Traditional server side pared sites
                also work with the sitemap generator.
            </p>
        </a>
    </div>

    <!--
    <div class="row marketing">
        <a class="btn btn-primary btn-lg btn-block" href="/scraper">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            <h1>Website Scraper</h1>
            <p>
                Use the scraper oncee a day for free. Or sign up for unlimited use and to be able to automate it up to run scrape on a schedule.
            </p>
        </a>
    </div>
    -->

    <!--
    <div class="row marketing">
        <a class="btn btn-warning btn-lg btn-block" href="/trader">
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            <h1>API</h1>
            <p>
                We try and open up everything we build as an api ;) So that you can do what we do. Development experience necessary usually.
            </p>
        </a>
    </div>
    -->

    <!--
    <div class="row marketing">
        <h3>Pricing</h3>
        <p>
            Currently we are still in beta so there are only 2 pricing plans. Free and Unlimited. Free is pretty good. Unlimited gets
            you some fancy features. Below lists what you get with each plan.
        </p>
        <table>
            <tr>
                <td class="blank"> &nbsp; </td>
                <td class="name free border-left center">FREE</td>
                <td class="name popular border-left border-right center">UNLIMITED</td>
            </tr>
            <tr>
                <td> &nbsp; </td>
                <td class="price-free border-left">$0 forever</td>
                <td class="price-popular border-left border-right">$5 per month</td>
            </tr>
            <tr>
                <td class="border-left white">Crypto Trading Platform
                    <span class="badge">App</span>
                </td>
                <td class="border-left center white">
                    <span class="glyphicon glyphicon-remove red border-right" aria-hidden="true"></span>
                </td>
                <td class="border-left border-right center white">
                    <span class="glyphicon glyphicon-ok border-right" aria-hidden="true"></span>
                </td>
            </tr>
            <tr>
                <td class="border-left white">Sitemap Generator
                    <span class="badge">Bot</span>
                </td>
                <td class="border-left center white">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td class="border-left border-right center white">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
            </tr>
            <tr>
                <td class="border-left white">Website Scraper
                    <span class="badge">Bot</span>
                </td>
                <td class="border-left center white">
                    One use per 24 hrs.
                </td>
                <td class="border-left border-right center white">
                    <span class="glyphicon glyphicon-ok border-right" aria-hidden="true"></span>
                </td>
            </tr>
            <tr>
                <td class="border-left white">Automated Website Scraper
                    <span class="badge">Bot</span>
                </td>
                <td class="border-left center white">
                    <span class="glyphicon glyphicon-remove red border-right" aria-hidden="true"></span>
                </td>
                <td class="border-left border-right center white">
                    <span class="glyphicon glyphicon-ok border-right" aria-hidden="true"></span>
                </td>
            </tr>
        </table>
    </div>
    -->
    <!--
<div class="row marketing">
    <h3>Roadmap</h3>
    <p>
        Botmap.io is currently in beta. {{version}}. Many more products are in development and will be appearing over the next few
        months.
    </p>
    <blockquote>
        <ul>
            <li>Automated Sitemap Generator Bot</li>
            <li>Sitemap Api</li>
            <li>Screenshot Api</li>
            <li>Automated Screenshot Bot</li>
            <li>Solar Flare Api</li>
            <li>Moon Cycle Api</li>
            <li>USD-BTC Trading Bot</li>
            <li>USD-LTC Trading Bot</li>
            <li>USD-ETH Trading Bot</li>
        </ul>
    </blockquote>
</div>
-->
</div>