<div class="container">
    <h1>Settings</h1>
</div>

<br>

<div id="exTab1" class="container">

    <div id="exTab2" class="container">
        <ul class="nav nav-tabs">
            <li class="">
                <a href="#general-settings" data-toggle="tab">General Settings</a>
            </li>
            <li>
                <a href="#gdax" data-toggle="tab">Gdax</a>
            </li>
            <li>
                <a href="#binance" data-toggle="tab">Binance</a>
            </li>
        </ul>

        <br>

        <div class="tab-content ">
            <div class="tab-pane active" id="general-settings">
                <h3>Standard tab panel created on bootstrap using nav-tabs</h3>
            </div>
            <div class="tab-pane" id="gdax">


                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Api Key</label>
                        <div class="col-sm-10">
                            <input type="" class="form-control" id="inputEmail3" placeholder="Api Key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Api Secret</label>
                        <div class="col-sm-10">
                            <input type="" class="form-control" id="inputEmail3" placeholder="Api Secret">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Passphrase</label>
                        <div class="col-sm-10">
                            <input type="" class="form-control" id="inputEmail3" placeholder="Passphrase">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
                        </div>
                    </div>
                </form>


            </div>
            <div class="tab-pane" id="binance">
                <h3>add clearfix to tab-content (see the css)</h3>
            </div>
        </div>
    </div>

</div>