<div class="row">
    <div class="col-md-2">
        <div>
            <div>Current Market</div>
            <div>Select Market Input</div>
        </div>
    </div>

    <div class="col-md-2">
        Order Book
    </div>

    <div class="col-md-6">
        trade here
    </div>

    <div class="col-md-2">
        Interactive Trader....
    </div>
</div>



<div class="row">
    <div class="col-md-2">
        <div>
            <div>Current Balance</div>
        </div>
        <div>
            <div>Asset</div>
            <div>Balance</div>
        </div>
        <div>
            <div>USD</div>
            <div>COIN</div>
        </div>
        <div>
            <div>Order Form</div>
        </div>


        Balance and
    </div>

    <div class="col-md-2">
        Order Book
    </div>

    <div class="col-md-6">
        trade here
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>

    </div>

    <div class="col-md-2">
        Interactive Trader....
    </div>
</div>

<div class="container">...</div>